/* fix the inner data width by pointing to entry-table class*/
.add-table {
  width: 22vw;
}

.table-components {
  font-size: initial;
}

@media only screen and (max-width: 784px) {
  /* fix the paid option select input sizing */
  .pay-list {
    width: 100%;
    height: 30px;
  }

  /* fix date input sizing */
  input[type="date"] {
    height: 15px;
    width: 18vw;
  }
}

@media only screen and (max-width: 400px) {
  .table-components {
    font-size: 3.8vw;
  }
  
  input[type="date"] {
    width: 17vw;
  }
}
